<header
  class="header"
  [class.menu-open]="isMenuOpen()"
>
  <a
    routerLink="/"
    class="header__logo"
    (click)="onLinkClick()"
  >
    <img
      class="logo__image"
      src="assets/logo.png"
      alt="logo"
    />
  </a>
  <button
    class="menu-icon"
    type="button"
    (click)="onMenuIconClick()"
  >
    <span></span>
  </button>
  <nav class="header__menu">
    @for (link of links; track $index) {
      <a
        routerLinkActive="link_active"
        class="menu__link"
        [routerLink]="link.href"
        (click)="onLinkClick()"
      >
        {{ link.title }}
      </a>
    }
  </nav>
</header>
