<header class="container mx-auto flex items-center justify-between py-5">
  <a routerLink="/">
    <img
      class="w-42"
      src="assets/logo.png"
      alt="logo"
    />
  </a>
  <nav class="flex gap-2 font-semibold sm:gap-4 md:gap-8 lg:gap-16">
    <a
      routerLink="/workspaces"
      routerLinkActive="link_active"
      class="link"
    >
      Workspaces
    </a>
    <a
      routerLink="/bookings"
      routerLinkActive="link_active"
      class="link"
    >
      My bookings
    </a>
  </nav>
</header>
