<img
  class="aspect-35/24 w-full rounded-xl object-cover sm:rounded-2xl"
  [alt]="bookedWorkspace().name"
  [src]="bookedWorkspace().photo"
/>

<div>
  <div class="mb-6 flex flex-col flex-wrap gap-4 sm:flex-row sm:items-center sm:justify-between">
    <h4 class="text-2xl font-bold sm:text-[32px]">{{ workspaceName() }} {{ workspaceOptions() }}</h4>
    <div class="flex justify-end gap-4">
      <a
        appButton
        class="text-lg"
        icon="edit"
        variant="outlined"
        [routerLink]="['/bookings/edit', bookedWorkspace().id]"
      ></a>
      <button
        appButton
        class="text-lg"
        color="danger"
        icon="trash"
        variant="outlined"
        (click)="onCancelButtonClick(bookedWorkspace().id)"
      ></button>
    </div>
  </div>
  <div class="flex flex-col gap-3">
    <div class="available">
      <span
        appIcon="calendar"
        class="icon"
      ></span>
      @if (isSameDate()) {
        {{ bookedWorkspace().startDate | date: 'longDate' }}
      } @else {
        {{ bookedWorkspace().startDate | date: 'longDate' }} - {{ bookedWorkspace().endDate | date: 'longDate' }}
        <span [ngPlural]="durationInDays()">
          <ng-template ngPluralCase="=1">(1 day)</ng-template>
          <ng-template ngPluralCase="other">({{ durationInDays() }} days)</ng-template>
        </span>
      }
    </div>
    <div class="available">
      <span
        appIcon="clock-hour-3"
        class="icon"
      ></span>
      from {{ startTime() | date: 'shortTime' }} to {{ endTime() | date: 'shortTime' }}
      @if (isSameDate()) {
        <span [ngPlural]="durationInHours()">
          <ng-template ngPluralCase="=1">(1 hour)</ng-template>
          <ng-template ngPluralCase="other">({{ durationInHours() }} hours)</ng-template>
        </span>
      }
    </div>
  </div>
</div>
