@reference '#styles.css';

:host {
  @apply flex items-center gap-2;
}

:host label:first-child {
  @apply relative flex cursor-pointer items-center select-none;
}

:host label:last-child {
  @apply cursor-pointer;
}

.checkbox {
  @apply h-6 w-6 cursor-pointer appearance-none rounded-sm bg-origin-border p-0;

  border: 1px solid #c2bcd8;
  background-color: #f5f3fb;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;

  @variant focus {
    @apply ring ring-[#b19cd9] outline-none;
  }

  @variant checked {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: #ffffff;
  }
}

:host .icon {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white opacity-0;

  @variant peer-checked {
    @apply opacity-100;
  }
}
