<app-page-title
  backLink="/workspaces"
  heading="Book your workspace"
/>

<app-booking-form
  [initWorkspaceTypeName]="workspaceType()"
  (submit)="onSubmit($event)"
/>

<app-submit-success-modal
  [deskCount]="submittedFormData()?.deskCount"
  [email]="submittedFormData()?.email"
  [endDate]="submittedFormData()?.endDate"
  [roomCapacity]="submittedFormData()?.roomCapacity"
  [startDate]="submittedFormData()?.startDate"
  [(visible)]="showSubmitSuccessModal"
/>

<app-submit-error-modal [(visible)]="showSubmitErrorModal" />
