@reference '#styles.css';

:host {
  @apply relative z-10;
}

.modal-backdrop {
  @apply fixed inset-0 bg-black/20 transition-opacity;
}

.modal-wrapper {
  @apply fixed inset-0 z-10 w-screen overflow-y-auto;
}

.modal-box {
  @apply flex min-h-full items-center justify-center p-4 text-center sm:p-0;
}

.modal-content {
  @apply relative transform overflow-hidden bg-white p-3 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-182 sm:p-10;

  border-radius: 20px;
}

.modal-close {
  @apply absolute top-0 right-0 pt-3 pr-3 sm:pt-10 sm:pr-10;
}

.modal-close button {
  @apply cursor-pointer rounded-lg text-[#a8a8a8];

  padding: 9px;
  font-size: 0;
  word-spacing: 0;

  @variant hover {
    @apply bg-gray-100;
  }
}

.modal-close button::before {
  font-size: 18px;
}

.modal-icon {
  @apply mb-4 sm:mb-8;
}

.modal-icon span {
  @apply flex h-10 w-10 items-center justify-center rounded-full text-base text-white sm:h-20 sm:w-20 sm:text-[27px];
}

.modal-header {
  @apply mb-2 sm:mb-4;
}

.modal-heading {
  @apply text-2xl font-bold sm:text-[32px];
}

.modal-body {
  @apply mt-2 text-(--gray-color) sm:mt-4;

  line-height: 1.5;
}

.modal-footer {
  @apply mt-4 sm:mt-8;
}
